{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldeset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
       of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see template_preprocess_fieldset()
 */
#}
{% set is_group = attributes.hasClass('fieldgroup') %}
{% set classes = [
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
    is_group ? 'form-item-group',
    is_group ? 'form-item-group--fieldset',
    'fieldset',
    required ? 'fieldset--required',
    legend.title ? 'fieldset--has-label'
  ]
%}
{% set legend_classes = [
    'fieldset__label',
    required ? 'fieldset--required__label'
  ]
%}
{% set legend_span_classes = [
    'fieldset-legend',
    required ? 'js-form-required',
    required ? 'form-required',
    'fieldset__label-text',
    required ? 'fieldset--required__label-text',
  ]
%}
{% set content_classes = [
    'fieldset-wrapper',
    'fieldset__content',
  ]
%}
{% set description_classes = [
    'description',
    'fieldset__description',
    'form-item-group__description',
  ]
%}
<fieldset{{ attributes.addClass(classes) }}>

  {#  Always wrap fieldset legends in a <span> for CSS positioning. #}
  {% if legend.title %}
    <legend{{ legend.attributes.addClass(legend_classes) }}>
      <span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span>
      {% if required %}
        <span class="form-item__required-symbol">*</span>
      {% endif %}
    </legend>
  {% endif %}
  <div{{ content_attributes.addClass(content_classes) }}>
    {% if errors %}
      <div>
        {{ errors }}
      </div>
    {% endif %}
    {% if prefix %}
      <span class="field-prefix">{{ prefix }}</span>
    {% endif %}
    {{ children }}
    {% if suffix %}
      <span class="field-suffix">{{ suffix }}</span>
    {% endif %}
    {% if description.content %}
      <div{{ description.attributes.addClass('description', description_classes) }}>{{ description.content }}</div>
    {% endif %}
  </div>
</fieldset>
