{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}
{% set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
    'form-item__label',
    title_display ? ('form-item__label--' ~ title_display)|clean_class,
    required ? 'form-item__label--required'
  ]
%}
{% if title is not empty or required %}
  <label{{ attributes.addClass(classes) }}>
    <span class="form-item__label-text">{{ title }}</span>
    {% if required %}
      <span class="form-item__required-symbol">*</span>
    {% endif %}
  </label>
{% endif %}
