{% extends '@cornerstone/form/form.html.twig' %}
{% set attributes = attributes.addClass(['l-form-group', 'l-form-group--inline']) %}
{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
