{% extends '@cornerstone/form/input--submit.html.twig' %}
{% set attributes = attributes.addClass('button--views-submit') %}
{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
