{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'button',
    'button--primary',
    attributes.type ? ('button--' ~ attributes.type)|clean_class,
    attributes.name ? ('button--' ~ attributes.name)|clean_class
  ]
%}
<input{{ attributes.addClass(classes) }}>{{ attributes.value }} />
{{ children }}
