{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{% if title %}
  {% set classes = ['page-title'] %}
  {% set title_classes = ['page-title__text'] %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <h1{{ title_attributes.addClass(title_classes) }}>{{ title }}</h1>
    {{ title_suffix }}
  </div>
{% endif %}
