/* =============================================================================
// @name Accordion Component
// @description Styling for a show/hide accordion component.
// @group components
// @file src/sass/_partials/4-components/_component.accordion.scss
// ========================================================================== */

// .accordion {
//   margin: 0 0 $spacing 0;
//   padding: 0;
//   list-style: none;
// }

// .accordion__item {
//
// }
