/* =============================================================================
// @name Form Item Component
// @description Form item container component for form elements.
// @group components
// @file src/sass/_partials/4-components/_component.form-item.scss
// ========================================================================== */

// .form-item {
//   margin-bottom: $spacing;
// }

// .form-item--checkbox,
// .form-item--radio {
//   margin-bottom: $quarter-spacing;

//   .form-item__control {
//     margin-top: $eighth-spacing;
//   }

//   .form-item__label--after {
//     color: $text-color;
//     font-weight: $font-normal;
//   }
// }

// .form-item--required {
//
// }

// .form-item__label {
//
// }

// .form-item__label {
//   display: inline-block;
//   color: set-color(primary);
//   font-weight: $font-semibold;
// }

// .form-item__required-symbol {
//   margin: 0 0 0 $eighth-spacing;
//   color: $red;
// }

// .form-item__label--before {
//   margin-bottom: $quarter-spacing;
// }

// .form-item__label--after {
//   display: inline;
//   padding-left: $quarter-spacing;
// }

// .form-item__description {
//   font-size: $font-size-xs;
// }

// .form-item__description--after {
//   margin-top: $quarter-spacing;
// }

// .form-item__icon {
//   display: none;
// }

// .form-item--inline {
//   display: inline-block;
// }

// .form-item--stacked {
//   display: block;
// }
