/* =============================================================================
// @name List Component
// @description Styling for Drupal's default generated lists.
// @group components
// @file src/sass/_partials/4-components/_component.list.scss
// ========================================================================== */

// .list {

//   .list__item {

//     + .list__item {
//       margin-top: $quarter-spacing;
//     }
//   }
// }

.list--unstyled {
  padding: 0;
  list-style: none;
}

.list--reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list--inline {
  display: inline-flex;
  flex-wrap: wrap;

  // .list__item {

  //   &:not(:last-child) {
  //     margin-right: $spacing;
  //   }
  // }
}
