/* =============================================================================
// @name Form Search Component
// @description Styling for search/filter bar.
// @group components
// @file src/sass/_partials/4-components/_component.form-search.scss
// ========================================================================== */

// .form-item--search {
//   }

//   .form-item__control--search {
//   }
// }

// .form-autocomplete {
//   // On autocomplete inputs, remove the clear 'x' icon IE and Edge adds
//   // since it overlays with the activity indicator.
//   &::-ms-clear {
//     width: 0;
//     height: 0;
//   }
// }

// // Unforunately we can't easily customize this class selector.
// .search-api-autocomplete-search {
//   z-index: z-index(popup);
// }
