/* =============================================================================
// @name Alert Component
// @description Styling for Drupal alert messages.
// @group components
// @file src/sass/_partials/4-components/_component.alert.scss
// @template misc/status-messages.html.twig
// ========================================================================== */

// .alert {
//   position: relative;
//   display: block;
//   margin-bottom: $spacing;
//   padding: $spacing;
//   color: $white;
//   border-radius: $border-radius;

//   a {
//     text-decoration: underline;
//     color: inherit;
//     font-weight: $font-semibold;
//   }

//   // &::before {
//   //   position: absolute;
//   //   left: $spacing;
//   //   content: '';
//   // }
// }

// .alert--status {
//   background-color: $alert-status-bg;
// }

// .alert--warning {
//   color: $alert-warning-text;
//   background-color: $alert-warning-bg;
// }

// .alert--error {
//   background-color: $alert-error-bg;
// }

// .alert--info {
//   background-color: $alert-info-bg;
// }

// // .alert__content {
// //
// // }

// .alert__list {
//   padding: 0;
//   list-style: none;
// }

// // .alert__item {
// //
// // }
