/* =============================================================================
// @name Icon Component
// @description Styling for any icons.
// @group components
// @file src/sass/_partials/4-components/_component.icon.scss
// @see _core/_functions/icon.scss
// ========================================================================== */

// Icons are left aligned by default.
// .icon {

//   &::before {
//     @include icon-font;

//     margin-right: $quarter-spacing;
//   }
// }

// // Individual icon generated with the icon-generator mixin, pulling icon names
// // from the _settings.icon.scss file.
// // =============================================================================
// @include icon-generator;

// // File type link icon classes.
// // =============================================================================
// a.link--show-file-icon[href$='.mp4'],
// a.has-icon[href$='.mp4'],
// a.link--show-file-icon[href$='.mp3'],
// a.has-icon[href$='.mp3'],
// a.link--show-file-icon[href$='.pdf'],
// a.has-icon[href$='.pdf'],
// a.link--show-file-icon[href$='.ppt'],
// a.has-icon[href$='.ppt'],
// a.link--show-file-icon[href$='.pptx'],
// a.has-icon[href$='.pptx'],
// a.link--show-file-icon[href$='.xls'],
// a.has-icon[href$='.xls'],
// a.link--show-file-icon[href$='.xlsx'],
// a.has-icon[href$='.xlsx'],
// a.link--show-file-icon[href$='.xlsm'],
// a.has-icon[href$='.xlsm'],
// a.link--show-file-icon[href$='.xltm'],
// a.has-icon[href$='.xltm'],
// a.link--show-file-icon[href$='.doc'],
// a.has-icon[href$='.doc'],
// a.link--show-file-icon[href$='.docx'],
// a.has-icon[href$='.docx'],
// a.link--show-file-icon[href$='.zip'],
// a.has-icon[href$='.zip'],
// a.link--show-file-icon[href^='mailto:'],
// a.has-icon[href^='mailto:'],
// a.link--show-file-icon[href^='http://'],
// a.has-icon[href^='https://'] {

//   &::before {
//     @include icon-font;

//     margin-right: $quarter-spacing;
//   }
// }

// a.link--show-file-icon[href$='.pdf'],
// a.has-icon[href$='.pdf'] {

//   &::before {
//     content: icon(pdf);
//     color: $red;
//   }
// }

// a.link--show-file-icon[href$='.ppt'],
// a.has-icon[href$='.ppt'],
// a.link--show-file-icon[href$='.pptx'],
// a.has-icon[href$='.pptx'] {

//   &::before {
//     content: icon(ppt);
//     color: set-color(tertiary, dark);
//   }
// }

// a.link--show-file-icon[href$='.xls'],
// a.has-icon[href$='.xls'],
// a.link--show-file-icon[href$='.xlsx'],
// a.has-icon[href$='.xlsx'],
// a.link--show-file-icon[href$='.xlsm'],
// a.has-icon[href$='.xlsm'],
// a.link--show-file-icon[href$='.xltm'],
// a.has-icon[href$='.xltm'] {

//   &::before {
//     content: icon(excel);
//     color: saturate(set-color(secondary, dark), 100);
//   }
// }

// a.has-icon[href$='.doc'],
// a.link--show-file-icon[href$='.doc'],
// a.has-icon[href$='.docx'],
// a.link--show-file-icon[href$='.docx'] {

//   &::before {
//     content: icon(doc);
//     color: set-color(primary);
//   }
// }

// a.link--show-file-icon[href$='.zip'],
// a.has-icon[href$='.zip'] {

//   &::before {
//     content: icon(zip);
//     color: $purple;
//   }
// }

// a.link--show-file-icon[href$='.mp4'],
// a.has-icon[href$='.mp4'] {

//   &::before {
//     content: icon(video);
//     color: $black;
//   }
// }

// a.link--show-file-icon[href$='.mp3'],
// a.has-icon[href$='.mp3'] {

//   &::before {
//     content: icon(audio);
//     color: $black;
//   }
// }

// a.link--show-file-icon[href^='mailto:'],
// a.has-icon[href^='mailto:'] {

//   &::before {
//     content: icon(email);
//     color: $dark-gray;
//   }
// }

// a.link--show-file-icon[href^='http://'],
// a.has-icon[href^='https://'] {

//   &::before {
//     content: icon(external);
//     color: $black;
//   }
// }

// // Icon positioning, icons are left aligned by default.
// // =============================================================================
// .icon--right {

//   &::before {
//     content: none;
//   }

//   &::after {
//     @include icon-font;

//     margin-left: $quarter-spacing;
//   }
// }
