/* =============================================================================
// @name Pager Component
// @description Styling for site pagination.
// @group components
// @file src/sass/_partials/4-components/_component.pager.scss
// ========================================================================== */

// .pager {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin-bottom: -#{$half-spacing};
// }

// .pager__item {
// }

// .pager__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   &:link,
//   &:visited {
//     text-decoration: none;
//   }

//   &:hover,
//   &:focus,
//   &:active {
//     text-decoration: none;
//   }
// }

// .pager__link--current {

//   &:link,
//   &:visited {
//   }

//   &:hover,
//   &:focus,
//   &:active {
//   }
// }

// .pager__link--directional {

//   &:link,
//   &:visited {
//   }

//   &:hover,
//   &:focus,
//   &:active {
//   }
// }

// .pager__item--ellipsis {
//
// }

// .pager__link--first {
//
// }

// .pager__link--previous {
//
// }

// .pager__link--next {
//
// }

// .pager__link--last {
//
// }
