{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% set item_attributes = create_attribute() %}
{% set link_attributes = create_attribute() %}
{% set text_attributes = create_attribute() %}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" class="l-nav l-nav--breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol{{ attributes.addClass('breadcrumb') }}>
    {% for item in breadcrumb %}

      {% set item_classes = [
        'breadcrumb__item',
        item == breadcrumb|first ? 'breadcrumb__item--first',
        item == breadcrumb|last ? 'breadcrumb__item--last'
      ] %}

      {% set link_classes = [
        'breadcrumb__link',
        item == breadcrumb|first ? 'breadcrumb__link--first',
        item == breadcrumb|last ? 'breadcrumb__link--last'
      ] %}

      {% set text_classes = [
        'breadcrumb__text',
        item == breadcrumb|first ? 'breadcrumb__text--first',
        item == breadcrumb|last ? 'breadcrumb__text--last'
      ] %}

      <li{{ item_attributes.addClass(item_classes) }}>
        {% if item.url %}
          <a href="{{ item.url }}"{{ link_attributes.setAttribute('class', link_classes) }}><span{{ text_attributes.addClass(text_classes) }}>{{ item.text }}</span></a>
        {% else %}
          <span{{ text_attributes.addClass(text_classes) }}>{{ item.text }}</span>
        {% endif %}
      </li>
      {# Remove classes before next loop #}
      {{ item_attributes.removeClass(item_classes) }}
      {{ link_attributes.removeClass(link_classes) }}
      {{ text_attributes.removeClass(text_classes) }}
    {% endfor %}
    </ol>
  </nav>
{% endif %}
