{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{# Add separate attribute arrays for primary and secondary menus. #}
{% set primary_attributes = create_attribute() %}
{% set secondary_attributes = create_attribute() %}
{% set primary_classes = [
    'tabs',
    'tabs--primary',
    secondary ? 'tabs--has-secondary',
  ]
%}
{% set secondary_classes = [
    'tabs',
    'tabs--secondary'
  ]
%}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary Tabs'|t }}</h2>
  <ul{{ primary_attributes.addClass(primary_classes) }}>{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary Tabs'|t }}</h2>
  <ul{{ secondary_attributes.addClass(secondary_classes) }}>{{ secondary }}</ul>
{% endif %}
