/* =============================================================================
// @name Print Page Base Overrides
// @description Print overrides for root html and body tags.
// @group print
// @file src/sass/_print/2-base/_print.base.page.scss
// ========================================================================== */

/* stylelint-disable selector-max-type */

html {
  // Allow elements to break out of browser boundries.
  overflow-x: visible;

  // Don't always show the vertical scroll bar.
  overflow-y: auto;
}

body {
  font-size: $font-size-sm;
  color: $black;
}
