{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set header_attributes = create_attribute() %}
{% set title_element = 'h2' %}
{% set classes = [
    'block',
    'block--' ~ (configuration.provider|clean_class),
    'block--' ~ (plugin_id|clean_class),
    'block--' ~ (configuration.label|clean_class),
    configuration.label_display == 'visible' ? 'block--header-visible' : 'block--header-hidden'
  ]
%}
{% set header_classes = ['block__header'] %}
{% set title_classes = ['block__title'] %}
{% set content_classes = ['block__content'] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div{{ header_attributes.addClass(header_classes) }}>
      <{{ title_element }}{{ title_attributes.addclass(title_classes) }}>{{ label }}</{{ title_element }}>
    </div>
  {% endif %}
  {{ title_suffix }}
  <div{{ content_attributes.addClass(content_classes) }}>
    {% block content %}
      {% if content %}
        {{ content }}
      {% endif %}
    {% endblock %}
  </div>
</div>
