// =============================================================================
// @name Visibility Settings
// @description Sass settings for showing and hiding elements.
// @group settings
// @file src/sass/_partials/1-tools/4-settings/_settings.visibility.scss
// =============================================================================

$z-index: (
  hidden: -1,
  base: 0,
  nudge: 10,
  step: 1000,
  jump: 2000,
  fixed: 3000,
  sticky: 4000,
  popup: 5000,
  overlay: 6000,
  modal: 7000,
);

$im-hidden-class: 'u-hidden';
$im-hidden-important: true;

$im-visible-class: 'u-visible';
$im-visible-important: true;

$im-visible-include-exact: false;
$im-visible-include-down: true;
$im-visible-include-up: true;

$im-visible-exact-selector: '';
$im-visible-up-selector: '';
$im-visible-down-selector: '-down';
