// =============================================================================
// @name Motion Settings
// @description Project motion settings are set here for consistent
//              animation and easing.
// @group settings
// @file src/sass/_partials/1-tools/4-settings/_settings.motion.scss
// =============================================================================

$base-easing: ease-in-out;

$speed-fastest: 0.1s;
$speed-faster: 0.15s;
$speed-fast: 0.25s;
$speed-medium: 0.35s;
$speed-slow: 0.5s;
$speed-slower: 0.75s;
$speed-slowest: 1s;
