// =============================================================================
// @name Alert Settings
// @description Alert component specific settings.
// @group settings
// @file src/sass/_partials/1-tools/1-4-settings/_settings.component.alert.scss
// @component src/sass/_partials/4-components/_component.alert.scss
// =============================================================================

// Alert Base
// ======================================
// $alert-border-width: 0;

// Alert Colors
// ======================================
$alert-success-bg: set-color(success);
$alert-success-text: yiq($alert-success-bg);
// $alert-success-border: set-color(success);

$alert-warning-bg: set-color(warning);
$alert-warning-text: yiq($alert-warning-bg);
// $alert-success-border: set-color(warning);

$alert-danger-bg: set-color(danger);
$alert-danger-text: yiq($alert-danger-bg);
// $alert-success-border: set-color(danger);

$alert-info-bg: set-color(tertiary);
$alert-info-text: yiq($alert-info-bg);
// $alert-info-border: set-color(tertiary);

// Alert Icons
// ======================================
$alert-icon-width: $spacing;
// $alert-icon-height: $spacing;
