// =============================================================================
// @name Typography Settings
// @description Project typography settings for are set here. This includes
//              those needed for the modular-scale library.
// @group settings
// @file src/sass/_partials/1-tools/4-settings/_settings.typography.scss
// =============================================================================
/* stylelint-disable value-keyword-case */
// $phi	1:1.618	1.618
// $golden	1:1.618	1.618
// $double-octave	1:4	4
// $major-twelfth	1:3	3
// $major-eleventh	3:8	2.667
// $major-tenth	2:5	2.5
// $octave	1:2	2
// $major-seventh	8:15	1.875
// $minor-seventh	9:16	1.778
// $major-sixth	3:5	1.667
// $minor-sixth	5:8	1.6
// $fifth	2:3	1.5
// $augmented-fourth	1:√2	1.414
// $fourth	3:4	1.333
// $major-third	4:5	1.25
// $minor-third	5:6	1.2
// $major-second	8:9	1.125
// $minor-second	15:16	1.067

// Set the base font size and line height.
$base-font-size: rem(16px);
$base-line-height: 1.35;
// $alt-line-height: $major-third;

// Set the base em unit for the em() and rem() functions.
$em-base: 16px;

// Set Modular Scale settings.
$ms-base: $base-font-size rem(14px);
$ms-ratio: $base-line-height;

// Set a typographical font size scale.
$font-size-xxs: ms(-2);
$font-size-xs: ms(-1);
$font-size-sm: ms(0);
$font-size-md: ms(1);
$font-size-lg: ms(2);
$font-size-lg-alt: ms(3);
$font-size-xl: ms(4);
$font-size-xxl: ms(5);
$font-size-xxxl: ms(6);

// System font stack in case we want to use them.
$system-fonts: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
  oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;

// Set font family settings.
$serif-font: serif;
$sans-serif-font: $system-fonts;

$mono-font: monospace;
$icon-font: 'Font Awesome 5 Free';
$base-font-family: $sans-serif-font;
$primary-font: $base-font-family;
$secondary-font: $serif-font;

// Set font weight settings
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;
