// =============================================================================
// @name Link Settings
// @description Settings for a[href] link elements.
// @group settings
// @file src/sass/_partials/1-tools/4-settings/_settings.link.scss
// =============================================================================

// Link Colors
$link-color: set-color(primary);
$link-color-hover: set-color(primary);
$link-color-visited: set-color(primary, dark);
$link-color-active: set-color(primary, dark);

// The browser focus outline provides enough of a style change to
// identify where keyboard focus is.
$link-color-focus: set-color(primary);
