// =============================================================================
// @name Color Settings
// @description Global project color settings are set here for a consistent
//              color scheme. More specific component or element settings may
//              contain their own color settings, but usually these will in
//              some what be based on the global ones.
// @group settings
// @file src/sass/_partials/1-tools/1-4-settings/_settings.color.scss
// =============================================================================

// Base Colors
// =============================================================================
$white: #fff;
$black: #000;
$page-color: shade($white, 2%);
$text-color: #222;

// Brand Colors
// =============================================================================
$primary-color: #20558a;
$secondary-color: #fdb913;
$tertiary-color: #1679b6;
$neutral-color: #485562;

// State Colors
// =============================================================================
$success-color: #208820;
$warning-color: #d16e0a;
$danger-color: #a4220d;

// Color Scheme Sass map. Add color variables to $color-scheme map and retrieve
// them (plus and tints or shades) with the set-color Sass function.
// =============================================================================
$color-scheme: (
  primary: (
    base: $primary-color,
    light: $primary-color,
    lighter: tint($primary-color, 50%),
    lightest: tint($primary-color, 75%),
    dark: shade($primary-color, 25%),
    darker: shade($primary-color, 50%),
    darkest: shade($primary-color, 75%),
  ),
  secondary: (
    base: $secondary-color,
    light: tint($secondary-color, 25%),
    lighter: tint($secondary-color, 50%),
    lightest: tint($secondary-color, 75%),
    dark: shade($secondary-color, 25%),
    darker: shade($secondary-color, 50%),
    darkest: shade($secondary-color, 75%),
  ),
  tertiary: (
    base: $tertiary-color,
    light: tint($tertiary-color, 25%),
    lighter: tint($tertiary-color, 50%),
    lightest: tint($tertiary-color, 75%),
    dark: shade($tertiary-color, 25%),
    darker: shade($tertiary-color, 50%),
    darkest: shade($tertiary-color, 75%),
  ),
  neutral: (
    base: $neutral-color,
    light: tint($neutral-color, 25%),
    lighter: tint($neutral-color, 50%),
    lightest: tint($neutral-color, 75%),
    dark: shade($neutral-color, 25%),
    darker: shade($neutral-color, 50%),
    darkest: shade($neutral-color, 75%),
  ),
  success: (
    base: $success-color,
    light: tint($success-color, 25%),
    lighter: tint($success-color, 50%),
    lightest: tint($success-color, 75%),
    dark: shade($success-color, 25%),
    darker: shade($success-color, 50%),
    darkest: shade($success-color, 75%),
  ),
  warning: (
    base: $warning-color,
    light: tint($warning-color, 25%),
    lighter: tint($warning-color, 50%),
    lightest: tint($warning-color, 75%),
    dark: shade($warning-color, 25%),
    darker: shade($warning-color, 50%),
    darkest: shade($warning-color, 75%),
  ),
  danger: (
    base: $danger-color,
    light: tint($danger-color, 25%),
    lighter: tint($danger-color, 50%),
    lightest: tint($danger-color, 75%),
    dark: shade($danger-color, 25%),
    darker: shade($danger-color, 50%),
    darkest: shade($danger-color, 75%),
  ),
);

// Modal and semi-transparent background colors.
// =============================================================================
$mobile-menu-bg: rgba($black, 0.9);
$overlay-bg: rgba($black, 0.8);
$caption-overlay-bg: rgba($black, 0.7);

// YIQ Color Settings
// @see https://github.com/timhettler/sass-yiq
// =============================================================================
$yiq-contrasted-threshold: 135;
$yiq-contrasted-light-default: $white;
$yiq-contrasted-dark-default: $black;

// Default border radius.
// =============================================================================
$default-radius: 3px;
$circle-radius: 50% / 50%;

$yellow-highlight-start: #f4ee00;
$yellow-highlight-stop: #f1d300;
