// =============================================================================
// @name Grid Settings
// @description General project grid and spacing settings, as well as settings
//              for grid libraries such as Susy.
// @group settings
// @file src/sass/_partials/1-tools/4-settings/_settings.grid.scss
// =============================================================================

// Setup a base measurement system based on the body font size.
$spacing: $base-font-size * $base-line-height;
$half-spacing: $spacing / 2;
$quarter-spacing: $spacing / 4;
$eighth-spacing: $spacing / 8;
$double-spacing: $spacing * 2;

// Set grid parameters to use with Susy.
$total-columns: 12;
$column-width: $spacing * 2;

// Set Susy map settings.
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: inside-static,
  container: $max-width,
  container-position: center,
  columns: $total-columns,
  gutters: 0.5,
  column-width: $column-width,
  global-box-sizing: border-box,
  last-flow: to,
);

$neat-grid: (
  columns: $total-columns,
  gutter: $spacing,
);

// Set default border-width.
$base-border-width: 1px;

// Set include media columns class.
$im-columns-class: '.u-width';

// Set flexgrid settings.
$im-flexgrid-settings: (
  'support-check': false,
  'support-type': 'modernizr',
  'total-columns': 12,
  'container-class': 'l-container',
  'grid-class': 'l-grid',
  'cell-class': 'l-grid__cell',
  'grid-separator': '--',
  'number-separator': '-',
  'breakpoint-separator': '-',
  'include-offset': false,
  'offset-class': 'offset',
  'include-push': false,
  'push-class': 'push',
  'include-pull': false,
  'pull-class': 'pull',
  'include-squish': false,
  'squish-class': 'squish',
  'include-order': false,
  'order-class': 'order',
  'include-wrap-alignment': true,
  'include-direction-alignment': true,
  'include-justify-alignment': true,
  'include-item-alignment': true,
  'include-content-alignment': true,
  'include-self-alignment': true,
  'gutter-size': $spacing,
  'include-gutterless': true,
  'default-gutters': true,
  'include-max-width': true,
  'include-trailer': false,
  'trailer-size': $spacing,
);
