/* =============================================================================
// @name Nav Layout
// @description Objects for main site navigation.
// @group layouts
// @file src/sass/_partials/3-layout/_layout.nav.scss
// ========================================================================== */

.l-nav {
  display: flex;
}

.l-nav--horizontal {
  flex-direction: row;
}

.l-nav--vertical {
  flex-direction: column;
}
