/* =============================================================================
// @name Visiblity Utilities
// @description Utility visiblity classes.
// @group utilities
// @file src/sass/_partials/5-utilities/_utilities.visibility.scss
// ========================================================================== */

// Only show elements to screen readers.
.u-sr-only {
  @include sr-only;
}

.u-inline {
  display: inline !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-block {
  display: block !important;
}

.u-inline-flex {
  display: inline-flex !important;
}

.u-flex {
  display: flex !important;
}
