/* =============================================================================
// @name Spacing Utilities
// @description Utility classes for tweaking spacing of elements.
// @group utilities
// @file src/sass/_partials/5-utilities/_utilities.spacing.scss
// ========================================================================== */

// Margin top utility classes.
// =====================================
.u-triple-leader,
.u-mt-triple-spacing {
  margin-top: $spacing * 3 !important;
}

.u-double-leader,
.u-mt-double-spacing {
  margin-top: $double-spacing !important;
}

.u-leader,
.u-mt-spacing {
  margin-top: $spacing !important;
}

.u-half-leader,
.u-mt-half-spacing {
  margin-top: $half-spacing !important;
}

.u-quarter-leader,
.u-mt-quarter-spacing {
  margin-top: $quarter-spacing !important;
}

.u-eighth-leader,
.u-mt-eighth-spacing {
  margin-top: $eighth-spacing !important;
}

.u-leader-none,
.u-mt-no-spacing {
  margin-top: 0 !important;
}

// Margin bottom utility classes.
// ================================== */
.u-triple-trailer,
.u-mb-triple-spacing {
  margin-bottom: $spacing * 3 !important;
}

.u-double-trailer,
.u-mb-double-spacing {
  margin-bottom: $double-spacing !important;
}

.u-trailer,
.u-mb-spacing {
  margin-bottom: $spacing !important;
}

.u-half-trailer,
.u-mb-half-spacing {
  margin-bottom: $half-spacing !important;
}

.u-quarter-trailer,
.u-mb-quarter-spacing {
  margin-bottom: $quarter-spacing !important;
}

.u-eighth-trailer,
.u-mb-eighth-spacing {
  margin-bottom: $eighth-spacing !important;
}

.u-trailer-none,
.u-mb-no-spacing {
  margin-bottom: 0 !important;
}

// Margin left utility classes.
// =====================================
.u-ml-triple-spacing {
  margin-left: $spacing * 3 !important;
}

.u-ml-double-spacing {
  margin-left: $double-spacing !important;
}

.u-ml-spacing {
  margin-left: $spacing !important;
}

.u-ml-half-spacing {
  margin-left: $half-spacing !important;
}

.u-ml-quarter-spacing {
  margin-left: $quarter-spacing !important;
}

.u-ml-eighth-spacing {
  margin-left: $eighth-spacing !important;
}

.u-ml-no-spacing {
  margin-left: 0 !important;
}

// Margin right utility classes.
// ================================== */
.u-mr-triple-spacing {
  margin-right: $spacing * 3 !important;
}

.u-mr-double-spacing {
  margin-right: $double-spacing !important;
}

.u-mr-spacing {
  margin-right: $spacing !important;
}

.u-mr-half-spacing {
  margin-right: $half-spacing !important;
}

.u-mr-quarter-spacing {
  margin-right: $quarter-spacing !important;
}

.u-mr-eighth-spacing {
  margin-right: $eighth-spacing !important;
}

.u-mr-no-spacing {
  margin-right: 0 !important;
}
