/* =============================================================================
// @name Image Elements
// @description Base CSS for images and image related elements.
// @group base
// @file src/sass/_partials/2-base/_base.image.scss
// ========================================================================== */

/* stylelint-disable selector-max-type */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// img[width], img[height] {
//   max-width: none;
// }

// Fix IE issues with using SVG as images.
// img[src$='.svg'] {
//   width: 100%;
// }
