/* =============================================================================
// @name Table Elements
// @description Base CSS for table related tags.
// @group base
// @file src/sass/_partials/2-base/_base.table.scss
// ========================================================================== */

/* stylelint-disable selector-max-type */

table {
  width: 100%;
  border-spacing: 0;
  // table-layout: fixed;
}

th,
td {
  padding: $half-spacing;
}
