/* =============================================================================
// @name Link Elements
// @description Base CSS for link styling.
// @group base
// @file src/sass/_partials/2-base/_base.link.scss
// ========================================================================== */

/* stylelint-disable selector-max-type */

a {
  color: $link-color;
  text-decoration: none;
  transition: color $speed-fastest $base-easing;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    text-decoration: underline;
  }

  // &:focus {
  //
  // }

  &:active {
    color: $link-color-active;
  }
}
