/* =============================================================================
// @name Page Elements
// @description Base CSS for root html and body tags.
// @group base
// @file src/sass/_partials/2-base/_base.page.scss
// ========================================================================== */

/* stylelint-disable selector-max-type */
/* stylelint-disable at-rule-no-vendor-prefix */

@at-root {
  @viewport {
    width: device-width;
  }
}

html {
  // Set base typography.
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
  // Don't allow elements to break out of browser boundries.
  // overflow-x: hidden;

  // Always show the vertical scroll bar so it doesn't cause body element
  // shifts with different lengths of content.
  // overflow-y: scroll;
  // min-height: 100%;
  background-color: $page-color;

  // Enable momentum scrolling.
  -webkit-overflow-scrolling: touch;
}

body {
  font-size: $font-size-sm;
  color: $text-color;
  background-color: $page-color;
}
