/* =============================================================================
// @name Base Animations
// @description Basic CSS animations that can be re-used in multiple components.
// @group base
// @file src/sass/_partials/2-base/_base.animations.scss
// ========================================================================== */

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
