:root {
  /* --content-max-width: 65em; */

  /* Color
  ------------------------------------------------------------------------- */

  /* Theme */
  --theme-color: #157bc9;
  --theme-dark-color: #1473b9;
  --theme-darker-color: #1266a4;

  /* Links */
  --link-color: var(--theme-color);
  --link-text-decoration: none;
  --link-text-decoration-color: var(--theme-color);
  --link-color--hover: var(--theme-darker-color);
  --link-text-decoration--hover: underline;
  --link-text-decoration-color--hover: var(--theme-darker-color);
}

.homepage-logo {
  width: 100px;
  height: auto;
  float: left;
  margin-right: calc(var(--base-font-size) * var(--base-line-height));
}

.d-flex {
  display: flex;
}
