{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set page_classes = [
    'l-page',
    page.sidebar_first ? 'l-page--has-sidebar-first',
    page.sidebar_second ? 'l-page--has-sidebar-second',
    page.sidebar_first and page.sidebar_second ? 'l-page--has-both-sidebars',
    page.page_left ? 'l-page--has-page-left',
    page.page_right ? 'l-page--has-page-right',
    is_front ? 'l-page--homepage',
  ]
%}
{% set page_id = 'js-page' %}
<div{{ attributes.setAttribute('id', page_id|clean_id).addClass(page_classes) }}>

  {% if page.banner %}
    <div class="l-page__banner l-page__inner">
      {{ page.banner }}
    </div>
  {% endif %}

  {% if page.header %}
    <header class="l-page__header" role="banner">
      {{ page.header }}
    </header>
  {% endif %}

  {% if page.navigation %}
    <div class="l-page__navigation" role="navigation">
      {{ page.navigation }}
    </div>
  {% endif %}

  {% if page.sub_navigation %}
    <div class="l-page__sub-navigation" role="navigation">
      {{ page.sub_navigation }}
    </div>
  {% endif %}

  <div class="l-page__primary">
    {% if page.sidebar_first %}
      <aside class="l-page__sidebar l-page__sidebar--first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="l-page__sidebar l-page__sidebar--second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

    <main class="l-page__main{{ not is_front ? ' l-page__inner' }}" role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      {% if page.featured %}
        <div class="l-page__featured">
          {{ page.featured }}
        </div>
      {% endif %}

      {% if page.content_top %}
        <div class="l-page__content l-page__content--top">
          {{ page.content_top }}
        </div>
      {% endif %}

      {% if page.content %}
        <div class="l-page__content l-page__content--middle">
          {{ page.content }}
        </div>{# /.content #}
      {% endif %}

      {% if page.content_bottom %}
        <div class="l-page__content l-page__content--bottom">
          {{ page.content_bottom }}
        </div>
      {% endif %}

    </main>

  </div>

  {% if page.secondary %}
    <div class="l-page__secondary l-page__inner" role="complementary">
      {{ page.secondary }}
    </div>
  {% endif %}

  {% if page.tertiary %}
    <div class="l-page__tertiary l-page__inner" role="complementary">
      {{ page.tertiary }}
    </div>
  {% endif %}

  {% if page.footer %}
    <footer class="l-page__footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.page #}
