{#
/**
 * @file
 * A basic custom Layout Discover template.
 */
#}
{% set attributes = create_attribute() %}
{% set layout_classes = [
    'l-content',
    'l-content--basic',
    content.sidebar_first and content.sidebar_second ? 'l-content-has-both-sidebars',
    content.sidebar_first ? 'l-content--has-first-sidebar',
    content.sidebar_second ? 'l-content--has-second-sidebar',
    is_front ? 'l-content--homepage'
  ]
%}
<div{{ attributes.addClass(layout_classes) }}>

  {% if content.header %}
    <header class="l-content__header l-content__header--basic">
      {{ content.header }}
    </header>
  {% endif %}

  {% if content.main_top or content.main or content.main_bottom %}
    <div class="l-content__primary l-content__primary--basic">
      {% if content.main_top %}
        <div class="l-content__main-top l-content__main-top--basic">
          {{ content.main_top }}
        </div>
      {% endif %}

      {% if content.main %}
        <div class="l-content__main l-content__main--basic">
          {{ content.main }}
        </div>
      {% endif %}

      {% if content.main_bottom %}
        <div class="l-content__main-bottom l-content__main-bottom--basic">
          {{ content.main_bottom }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if content.sidebar_first %}
    <aside class="l-content__sidebar l-content__sidebar--first l-content__sidebar--basic l-content__sidebar--basic-first" role="complementary">
      {{ content.sidebar_first }}
    </aside>
  {% endif %}

  {% if content.sidebar_second %}
    <aside class="l-content__sidebar l-content__sidebar--second l-content__sidebar--basic l-content__sidebar--basic-second" role="complementary">
      {{ content.sidebar_second }}
    </aside>
  {% endif %}

  {% if content.secondary %}
    <div class="l-content__secondary l-content__secondary--basic">
      {{ content.secondary }}
    </div>
  {% endif %}

  {% if content.tertiary %}
    <div class="l-content__tertiary l-content__tertiary--basic">
      {{ content.tertiary }}
    </div>
  {% endif %}

  {% if content.footer %}
    <footer class="l-content__footer l-content__footer--basic">
      {{ content.footer }}
    </footer>
  {% endif %}

</div>
